# ======================
# Python
# ======================
__pycache__/
*.py[cod]

# ======================
# Virtual environment
# ======================
venv/
.env

# ======================
# Audio / Video test files
# ======================
*.wav
*.mp3
*.mp4
*.avi
*.mov

# ======================
# ML / Model artifacts
# ======================
*.pth
*.h5
*.ckpt
*.onnx

# ======================
# Logs & temp
# ======================
*.log
*.tmp

# ======================
# OS / Editor junk
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
